/* line 1, ../compass/src/_base.scss */
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  font-family: Helvetica;
}

/* line 10, ../compass/src/_base.scss */
body * {
  box-sizing: border-box;
}

/* line 14, ../compass/src/_base.scss */
body p {
  line-height: 1.2em;
}

/* line 18, ../compass/src/_base.scss */
a {
  color: #C62B57;
}

/* line 22, ../compass/src/_base.scss */
button, .button {
  padding: 4px 22px;
  background: transparent;
  color: #C62B57;
  border: 1px solid #C62B57;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.2s ease 0s;
  font-weight: bold;
}
/* line 32, ../compass/src/_base.scss */
button:hover, .button:hover {
  background: #C62B57;
  color: #101921;
}

/* line 38, ../compass/src/_base.scss */
a.button {
  text-decoration: none;
}

/* line 42, ../compass/src/_base.scss */
textarea {
  margin: 0;
  background: #15202a;
  color: #C62B57;
  padding: 5px;
  border: 1px solid #42474C;
  border-radius: 3px;
  resize: none;
}

/* line 1, ../compass/src/_page.scss */
.svg_to_lua {
  background: #17232f;
}
/* line 4, ../compass/src/_page.scss */
.svg_to_lua .row .navigation.col {
  position: relative;
  padding: 0;
}
/* line 8, ../compass/src/_page.scss */
.svg_to_lua .row .navigation.col .navigation_inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 2;
  width: 100%;
  height: 100%;
  background: #17232f;
  padding: 20px;
}
/* line 20, ../compass/src/_page.scss */
.svg_to_lua .row .navigation.col .navigation_inner .logo {
  width: 10%;
  height: 80%;
  background-image: url("/logo/logo.png");
  background-size: contain;
  background-position: left center;
  background-repeat: no-repeat;
}
/* line 29, ../compass/src/_page.scss */
.svg_to_lua .row .navigation.col .navigation_inner .menu {
  cursor: pointer;
  width: 10%;
  height: 80%;
  background-image: url("/arrow_down.png");
  background-size: contain;
  background-position: left center;
  background-repeat: no-repeat;
  transition: all 0.2s ease 0s;
  transform: translateX(63%);
}
/* line 40, ../compass/src/_page.scss */
.svg_to_lua .row .navigation.col .navigation_inner .menu.open {
  transform: rotate(180deg) translateX(0) !important;
}
/* line 47, ../compass/src/_page.scss */
.svg_to_lua .row .navigation.col .navbar {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  padding: 20px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateY(-100%);
  transition: all 0.2s ease 0s;
  background: #101921;
}
/* line 62, ../compass/src/_page.scss */
.svg_to_lua .row .navigation.col .navbar > * {
  margin-bottom: 20px;
}
/* line 66, ../compass/src/_page.scss */
.svg_to_lua .row .navigation.col .navbar.open {
  transform: translateY(0%);
}
/* line 72, ../compass/src/_page.scss */
.svg_to_lua .row {
  display: flex;
  flex-direction: row;
  min-height: 125px;
}
/* line 78, ../compass/src/_page.scss */
.svg_to_lua .row.columns_1 .col {
  width: 100%;
  background: #17232f;
  color: #f3f3f3;
}
/* line 85, ../compass/src/_page.scss */
.svg_to_lua .row.columns_2 {
  background: #17232f;
}
/* line 88, ../compass/src/_page.scss */
.svg_to_lua .row.columns_2 .col {
  width: 50%;
}
/* line 91, ../compass/src/_page.scss */
.svg_to_lua .row.columns_2 .col:nth-of-type(2n-1) {
  background: #2e3944;
  color: #f3f3f3;
}
/* line 96, ../compass/src/_page.scss */
.svg_to_lua .row.columns_2 .col:nth-of-type(2n) {
  background: #15202a;
  color: #f3f3f3;
}
/* line 103, ../compass/src/_page.scss */
.svg_to_lua .row.columns_3 {
  background: #17232f;
}
/* line 106, ../compass/src/_page.scss */
.svg_to_lua .row.columns_3 .col {
  width: 33.3333%;
}
/* line 109, ../compass/src/_page.scss */
.svg_to_lua .row.columns_3 .col:nth-of-type(3n-2) {
  background: #2e3944;
  color: #f3f3f3;
}
/* line 114, ../compass/src/_page.scss */
.svg_to_lua .row.columns_3 .col:nth-of-type(3n-1) {
  background: #17232f;
  color: #f3f3f3;
}
/* line 119, ../compass/src/_page.scss */
.svg_to_lua .row.columns_3 .col:nth-of-type(3n) {
  background: #15202a;
  color: #f3f3f3;
}
/* line 126, ../compass/src/_page.scss */
.svg_to_lua .row.columns_4 {
  background: linear-gradient(to right, #2e3944 0%, #2e3944 50%, #15202a 50.01%, #15202a 100%);
}
/* line 129, ../compass/src/_page.scss */
.svg_to_lua .row.columns_4 .col {
  width: 25%;
}
/* line 132, ../compass/src/_page.scss */
.svg_to_lua .row.columns_4 .col:nth-of-type(4n-3) {
  background: #454f59;
  color: #f3f3f3;
}
/* line 137, ../compass/src/_page.scss */
.svg_to_lua .row.columns_4 .col:nth-of-type(4n-2) {
  background: #2e3944;
  color: #f3f3f3;
}
/* line 142, ../compass/src/_page.scss */
.svg_to_lua .row.columns_4 .col:nth-of-type(4n-1) {
  background: #15202a;
  color: #f3f3f3;
}
/* line 147, ../compass/src/_page.scss */
.svg_to_lua .row.columns_4 .col:nth-of-type(4n) {
  background: #121c26;
  color: #f3f3f3;
}
/* line 155, ../compass/src/_page.scss */
.svg_to_lua .row .col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
}
/* line 162, ../compass/src/_page.scss */
.svg_to_lua .row .col.align_top {
  justify-content: flex-start;
}
/* line 166, ../compass/src/_page.scss */
.svg_to_lua .row .col.col_borders_top_right {
  border-top-right-radius: 15px;
}
/* line 170, ../compass/src/_page.scss */
.svg_to_lua .row .col.col_borders_top_left {
  border-top-left-radius: 15px;
}
/* line 174, ../compass/src/_page.scss */
.svg_to_lua .row .col.col_borders_bottom_right {
  border-bottom-right-radius: 15px;
}
/* line 178, ../compass/src/_page.scss */
.svg_to_lua .row .col.col_borders_bottom_left {
  border-bottom-left-radius: 15px;
}
/* line 184, ../compass/src/_page.scss */
.svg_to_lua .dropzone {
  cursor: pointer;
  width: 100%;
  height: 100%;
  margin: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 2px dashed transparent;
  border-radius: 5px;
  transition: all 0.2s ease 0s;
}
/* line 198, ../compass/src/_page.scss */
.svg_to_lua .dropzone.dragover, .svg_to_lua .dropzone:hover {
  border: 2px dashed #f3f3f3;
  background: #5d656d;
}
/* line 204, ../compass/src/_page.scss */
.svg_to_lua .message_container {
  display: flex;
  flex-direction: column;
}
/* line 208, ../compass/src/_page.scss */
.svg_to_lua .message_container .message {
  position: relative;
  padding: 5px 10px 5px 5px;
  width: 100%;
  border-radius: 3px;
}
/* line 214, ../compass/src/_page.scss */
.svg_to_lua .message_container .message:not(:last-of-type) {
  margin-bottom: 8px;
}
/* line 218, ../compass/src/_page.scss */
.svg_to_lua .message_container .message.message_success {
  background: #519757;
}
/* line 222, ../compass/src/_page.scss */
.svg_to_lua .message_container .message.message_warning {
  background: #de9019;
}
/* line 226, ../compass/src/_page.scss */
.svg_to_lua .message_container .message.message_error {
  background: #d82525;
}
/* line 230, ../compass/src/_page.scss */
.svg_to_lua .message_container .message .i {
  position: absolute;
  top: 7px;
  right: 7px;
  background: #f3f3f3;
  color: #222222;
  border-radius: 1000px;
  line-height: 14px;
  width: 14px;
  height: 14px;
  text-align: center;
  font-size: 10px;
  font-weight: 900;
  cursor: help;
}
/* line 246, ../compass/src/_page.scss */
.svg_to_lua .message_container .message .i:hover + .details, .svg_to_lua .message_container .message .details:hover {
  opacity: 1;
}
/* line 250, ../compass/src/_page.scss */
.svg_to_lua .message_container .message .details {
  position: absolute;
  left: 100%;
  top: 0;
  width: 50%;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0px 0px 4px 2px #fff4;
  background: #222222;
  color: #f3f3f3;
  font-style: italic;
  opacity: 0;
  cursor: help;
}
/* line 264, ../compass/src/_page.scss */
.svg_to_lua .message_container .message .details:after {
  position: absolute;
  left: -10px;
  top: 5px;
  width: 0;
  height: 0;
  content: '';
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #222;
}
/* line 279, ../compass/src/_page.scss */
.svg_to_lua .settings_container {
  align-items: flex-start !important;
}
/* line 282, ../compass/src/_page.scss */
.svg_to_lua .settings_container .button {
  margin-bottom: 10px;
}
/* line 286, ../compass/src/_page.scss */
.svg_to_lua .settings_container .setting {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
/* line 292, ../compass/src/_page.scss */
.svg_to_lua .settings_container .setting:not(:last-of-type) {
  padding-bottom: 5px;
  border-bottom: 1px solid #2e3944;
  margin-bottom: 5px;
}
/* line 298, ../compass/src/_page.scss */
.svg_to_lua .settings_container .setting .left {
  display: flex;
  flex-direction: column;
}
/* line 302, ../compass/src/_page.scss */
.svg_to_lua .settings_container .setting .left label {
  font-weight: bold;
}
/* line 306, ../compass/src/_page.scss */
.svg_to_lua .settings_container .setting .left span {
  font-size: 0.7em;
  font-style: italic;
}
/* line 312, ../compass/src/_page.scss */
.svg_to_lua .settings_container .setting .right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* line 318, ../compass/src/_page.scss */
.svg_to_lua .settings_container .setting .right input[type="number"] {
  background: rgba(0, 0, 0, 0.4);
  color: #f3f3f3;
  padding: 3px 6px;
  border: 1px solid #C62B57;
  border-radius: 3px;
}
/* line 329, ../compass/src/_page.scss */
.svg_to_lua .lua_scripts_list {
  width: 100%;
  display: flex;
  flex-direction: column;
}
/* line 334, ../compass/src/_page.scss */
.svg_to_lua .lua_scripts_list textarea {
  width: 100%;
  height: 50px;
  resize: none;
}
/* line 339, ../compass/src/_page.scss */
.svg_to_lua .lua_scripts_list textarea:not(:last-of-type) {
  margin-bottom: 15px;
}
