body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    font-family: Helvetica;
}

body * {
    box-sizing: border-box;
}

body p {
    line-height: 1.2em;
}

a {
    color: $pink;
}

button, .button {
    padding: 4px 22px;
    background: transparent;
    color: $pink;
    border: 1px solid $pink;
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.2s ease 0s;
    font-weight: bold;

    &:hover {
        background: $pink;
        color: $marine-darkest;
    }
}

a.button {
    text-decoration: none;
}

textarea {
    margin: 0;
    background: $marine-dark;
    color: $pink;
    padding: 5px;
    border: 1px solid $blue-dark;
    border-radius: 3px;
    resize: none;
}