.svg_to_lua {
    background: $marine;

    .row .navigation.col {
        position: relative;
        padding: 0;

        .navigation_inner {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            position: relative;
            z-index: 2;
            width: 100%;
            height: 100%;
            background: $marine;
            padding: 20px;

            .logo {
                width: 10%;
                height: 80%;
                background-image: url('/logo/logo.png');
                background-size: contain;
                background-position: left center;
                background-repeat: no-repeat;
            }

            .menu {
                cursor: pointer;
                width: 10%;
                height: 80%;
                background-image: url('/arrow_down.png');
                background-size: contain;
                background-position: left center;
                background-repeat: no-repeat;  
                transition: all 0.2s ease 0s;
                transform: translateX(63%);

                &.open {
                    transform: rotate(180deg) translateX(0) !important;
                }
            }
        }


        .navbar {
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            padding: 20px;
            z-index: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            transform: translateY(-100%);
            transition: all 0.2s ease 0s;
            background: $marine-darkest;

            > * {
                margin-bottom: 20px;
            }

            &.open {
                transform: translateY(0%);
            }
        }
    }

    .row {
        display: flex;
        flex-direction: row;
        min-height: 125px;


        &.columns_1 .col {
            width: 100%;

            background: $marine;
            color: $color-light;
        }

        &.columns_2 {
            background: $marine;

            .col {
                width: 50%;

                &:nth-of-type(2n-1) {
                    background: $marine-light;
                    color: $color-light;
                }

                &:nth-of-type(2n) {
                    background: $marine-dark;
                    color: $color-light;
                }
            }
        }

        &.columns_3 {
            background: $marine;

            .col {
                width: 33.3333%;

                &:nth-of-type(3n-2) {
                    background: $marine-light;
                    color: $color-light;
                }

                &:nth-of-type(3n-1) {
                    background: $marine;
                    color: $color-light;
                }

                &:nth-of-type(3n) {
                    background: $marine-dark;
                    color: $color-light;
                }
            }
        }

        &.columns_4 {
            background: linear-gradient(to right, $marine-light 0%, $marine-light 50%, $marine-dark 50.01%, $marine-dark 100%);

            .col {
                width: 25%;

                &:nth-of-type(4n-3) {
                    background: $marine-lighter;
                    color: $color-light;
                }

                &:nth-of-type(4n-2) {
                    background: $marine-light;
                    color: $color-light;
                }

                &:nth-of-type(4n-1) {
                    background: $marine-dark;
                    color: $color-light;
                }

                &:nth-of-type(4n) {
                    background: $marine-darker;
                    color: $color-light;
                }
            }
        }


        .col {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 15px;

            &.align_top {
                justify-content: flex-start;
            }

            &.col_borders_top_right {
                border-top-right-radius: 15px;
            }

            &.col_borders_top_left {
                border-top-left-radius: 15px;
            }

            &.col_borders_bottom_right {
                border-bottom-right-radius: 15px;
            }

            &.col_borders_bottom_left {
                border-bottom-left-radius: 15px;
            }
        }            
    }

    .dropzone {
        cursor: pointer;
        width: 100%;
        height: 100%;
        margin: 5px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        border: 2px dashed transparent;
        border-radius: 5px;
        transition: all 0.2s ease 0s;

        &.dragover, &:hover {
            border: 2px dashed $color-light;
            background: $marine-lightest;
        }
    }

    .message_container {
        display: flex;
        flex-direction: column;

        .message {
            position: relative;
            padding: 5px 10px 5px 5px;
            width: 100%;
            border-radius: 3px;            

            &:not(:last-of-type) {
                margin-bottom: 8px;
            }

            &.message_success {
                background: $success;
            }

            &.message_warning {
                background: $warning;
            }

            &.message_error {
                background: $error;
            }

            .i {
                position: absolute;
                top: 7px;
                right: 7px;
                background: #f3f3f3;
                color: #222222;
                border-radius: 1000px;
                line-height: 14px;
                width: 14px;
                height: 14px;
                text-align: center;
                font-size: 10px;
                font-weight: 900;
                cursor: help;
            }

            .i:hover + .details, .details:hover {
                opacity: 1;
            }

            .details {
                position: absolute;
                left: 100%;
                top: 0;
                width: 50%;
                padding: 5px 8px;
                border-radius: 5px;
                box-shadow: 0px 0px 4px 2px #fff4;
                background: $color-dark;
                color: $color-light;
                font-style: italic;
                opacity: 0;
                cursor: help;

                &:after {
                    position: absolute;
                    left: -10px;
                    top: 5px;
                    width: 0;
                    height: 0;
                    content: '';
                    border-top: 10px solid transparent;
                    border-bottom: 10px solid transparent;
                    border-right: 10px solid #222;
                }
            }
        }
    }

    .settings_container {
        align-items: flex-start !important;
    
        .button {
            margin-bottom: 10px;
        }

        .setting {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;

            &:not(:last-of-type) {
                padding-bottom: 5px;
                border-bottom: 1px solid $marine-light;
                margin-bottom: 5px;
            }

            .left {
                display: flex;
                flex-direction: column;

                label {
                    font-weight: bold;
                }

                span {
                    font-size: 0.7em;
                    font-style: italic;
                }
            }

            .right {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                input[type="number"] {
                    background: rgba(0,0,0,0.4);
                    color: $color-light;
                    padding: 3px 6px;
                    border: 1px solid $pink;
                    border-radius: 3px;
                }
            }
        }
    }

    .lua_scripts_list {
        width: 100%;
        display: flex;
        flex-direction: column;

        textarea {
            width: 100%;
            height: 50px;
            resize: none;

            &:not(:last-of-type) {
                margin-bottom: 15px;
            }
        }
    }
}