
$marine: #17232f;
$marine-lightest: tint($marine, 30%);
$marine-lighter: tint($marine, 20%);
$marine-light: tint($marine, 10%);
$marine-dark: shade($marine, 10%);
$marine-darker: shade($marine, 20%);
$marine-darkest: shade($marine, 30%);

$color-light: #f3f3f3;
$color-dark: #222222;


$green: #519757;
$yellow: #de9019;
$red: #d82525;
$pink: #C62B57;
$blue: #B6C3D3;
$blue-dark: #42474C;

$success: $green;
$warning: $yellow;
$error: $red;